$white: #FFF;
$black: #000;
$blue1: #061556;
$blue2: #005EDC;
$divider: #E5E5E5;
$yellow: #FEBD11;
$grayBlue: #b6b7b9;
$grey1: #4A4A4A;
$grey2: #787A7E;
$grey4: #F5F5F5;
$grey5: #F7F8F9;
$grey6: #BDBEC0;
$grey7: #BBBBBB;
$grey8: #9F9F9F;
$grey9: #535353;
$critical: #ED1D24;
$alert: #FEA01C;
$successful: #01C267;
$shadow: #06155626;
$border: #CCCED8;
$green: #05A56B;

$mainBlue: #1f3b53;
$mainOrange: #f24e29;